/* ====== IMPORTAÇÃO DE FONTE ====== */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Cabin", sans-serif;
    background-color: #F4F0EA;
    color: #d45050;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* ====== CABEÇALHO ====== */
header {
    width: 100%;
    background-color: #d00000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, header p {
    color: #F4F0EA;
    text-align: center;
}

/* LOGO */
.logo img {
    width: 220px;
}

/* ====== MENU ====== */
nav {
    display: flex;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: #F4F0EA;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.6px;
    transition: color .2s, transform .15s;
}

nav a:hover { 
    color: #ffe3e3;
    transform: translateY(-2px);
}

/* ====== CONTEÚDO PRINCIPAL ====== */
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

/* SEÇÕES CENTRADAS */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ====== INPUTS ====== */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
    width: 70%;
    padding: 0.7rem;
    border: 2px solid #d45050;
    background-color: transparent;
    outline: none;
    border-radius: 50px;
    color: #d45050;
}

input::placeholder {
    color: #d45050b7;
}

/* ====== BOTÕES ====== */
button {
    width: 70%;
    height: 45px;
    background-color: #d00000;
    color: #FFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition:background.2s, transform .1s;
}

button:hover {
    background-color: #b90000;
    transform: scale(1.02);
}

/* ====== FIELDSET PADRÃO ====== */
fieldset {
    width: 950px;
    max-width: 95%;
    border: 2px solid #d45050;
    padding: 2rem;
    border-radius: 10px;
    background-color: #FFF;
}

/* ====== FOOTER ====== */
footer {
    margin-top: auto;
    background-color: #d00000;
    color: #F4F0EA;
    text-align: center;
    padding: 1.8rem;
}

/* ====== BOTÃO PRINCIPAL (INDEX) ====== */
.btn_comecar {
    width: 280px;
    height: 50px;
    background-color: #d45050;
    color: #fff;
    border-radius: 12px;
    font-size: 18px;
}

.btn_comecar:hover {
    background-color: #c04444;
}

/* ====== TÍTULO PRINCIPAL (INDEX) ====== */
.h1 {
    font-size: 50px;
    max-width: 1000px;
}

/* SUBTEXTO */
.subtexto {
    font-size: 24px;
    max-width: 1080px;
    text-align: center;
}

h2 {
    width: 100%;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}

.dados {
    font-size: 24px;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.pagina {
    font-size: 24px;
    max-width: 1000;
    text-align: center;
}